<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="/static/styles/edit.css">
</head>
<body>

  <form action=/update/<%= data._id%> method=post>

    <legend>Profile information</legend>
    <fieldset>
    <label><%= data.name%></label><br>
    <label>Residence</label><br>
    <input name=residence><br>
    <label>Music genre</label><br>
    <select name=genre id="genre">
      <option value="pop">Pop</option>
      <option value="rock">Rock</option>
      <option value="techno">Techno</option>
      <option value="rnb">Rnb</option>
      <option value="hip-Hop">Hip-hop</option>
      <option value="metal">Metal</option>
      <option value="dance">Dance</option>
      <option value="jazz">Jazz</option>
    </select><br>
    <label>Favorite artist</label><br>
    <input name=artist><br>
    <label>About myself</label><br>
    <textarea placeholder = "I love to..." name=description rows=5></textarea>
    </fieldset>
    <button>Edit</button>
  </form>
    
    
  
      
</body>
<footer>
    <%- include('partials/footer'); -%>
</footer>
</html>