html {
    background: #28008D;
    color: #000;
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    
}

form {
    margin: auto;
    margin-top: 50px;
    background-color: #4106b7;
    height: 500px;
    width: 80%;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

legend{
margin-top: 10px;
font-weight: bold;
font-size: large;
text-align: center;
color: white;

}

form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 10px;
    
    
}

form label, input, select, textarea  {
border-radius: 2px;
font-weight: lighter;
width: 60%;
color: white

}

form label{


}

form input{
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    height: 20px;
    padding: 5px;
    color:rgba(250, 250, 250);

}

textarea, select{
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    border: none;
}

form button{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #6100B3;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.50);
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    border: none;
    color: white;

}

footer{
    display: none;
}