* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: #28008D;
    color: #000;
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    --background: white;*/
}

body {
    max-width: 400px;

}

nav {}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    height: 50px;

}

nav ul li {
    justify-content: space-between;
    align-self: baseline;
    margin: auto;
    /*    background: var(--background);*/

}

nav ul li:first-of-type {
    color: white;
}

main {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
}

img:first-of-type {
    margin: auto;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0px 12px 30px #000;

}

.info {
    height: 140px;
    background-color: #3800B0;
    border-radius: 8px;
    box-shadow: 0px 12px 30px #000;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.info h1 {
    color: white;
    margin: auto;
    margin-left: 10px;
    padding: 5px;
}

.info p {
    margin: auto;
    margin-left: 15px;
    text-align: left;
    font-size: 20px;
    padding: 1px;
    font-weight: 50px;

}

main input {
    padding: 10px;
    width: 20;
    height: 20;
    align-self: center;
    border-radius: 100%;
    background-color: #6100B3;
    border-color: #6100B3;



}

h2 {
    color: #FF2079;
    margin: auto;
    margin-left: 30px;
    margin-top: 20px;
}


section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-content: center;
    justify-content: center;

}

section div {
    margin: 10px;
    background-color: rgba(0, 0, 0, 46%);
    border-radius: 8px;
    height: 110px;
    display: flex;
    flex-direction: column;
    background: url(images/aa8d3679-fe9e-4123-b2cf-47aac6dc65fc.jpg);
    background-blend-mode: darken;
    background-size: cover;




}

section div h4 {
    margin: auto;
    color: white;
    opacity: 100;


}


section div h4:first-child,
section div h4:nth-child(2) {
    margin-top: 10px;
    margin-left: 15px;
}

section div h4:last-child,
section div h4:nth-child(3) {
    margin-right: 15px;
    margin-bottom: 10px;
}


form {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 12px 30px #000;
    height: 400px;
    align-items: flex-start;
    
   
    


}

form fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    
    
    
}

form legend {
   
    font-size: 20px;
    font-weight: bold;
  

}


label {
    color: black;
    font-weight: 500;
    font-size: 16px;
   

}

form input {
    
    border-color: rgba(0, 0, 0, 10%);
    height: 20px;
    

}

#genre {
   
    border-color: rgba(0, 0, 0, 10%);
    height: 20px;
}
